<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>Nstagram</title>
    <link rel="stylesheet" href="{% static 'assets/css/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="page-login body_min_height">
        <div class="image">
            <span>twitter</span>
        </div>
        <div class="form">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="text-center f-s-25 m-t-20 m-b-50" >ورود به سامانه</h1>
                            <form action="">
                                <div class="row justify-content-center">
                                    <div class="col-8" >
                                        <div class="form-group">
                                            <input id="username" type="text" required
                                                   placeholder="نام کاربری"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input id="password" type="password" required minlength="6"
                                                   placeholder="کلمه عبور"
                                                   class="form-control">
                                            <a href="" class="f-s-12">فراموشی رمز عبور</a>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center m-0 m-t-40">
                                    <button id="loginBTN" type="button" class="btn btn-outline-primary" >
                                        بررسی و ورود
                                    </button>
                                </p>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <a href="">هنوز ثبت نام نکرده اید؟</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{% static 'assets/js/lib/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/popper.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/bootstrap.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/helper.js' %}" ></script>


<script>
    window.onload = function () {
        var loginBTN = document.getElementById("loginBTN");
        loginBTN.onclick = function () {
            var result ;
            var XML = new XMLHttpRequest();
            XML.onreadystatechange = function () {
                if (XML.status == 201 && XML.readyState == 4) {
                    result = JSON.parse(this.response);
                    {#alert(result["id"]);#}
                    window.location.replace("http://localhost:8000/users/" + result['id'] + '/');
                }
            };

            XML.open("POST","/api/users/login/", true);
            XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var text = "username=" + username + "&password=" + password;
            XML.send(text);
        }

    };


</script>
</body>


</html>