<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>Nstagram</title>
    <link rel="stylesheet" href="{% static 'assets/css/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="page-register body_min_height">
    <div class="image">
        <span>Nstagram</span>
    </div>
    <div class="form">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center f-s-25 m-t-20 m-b-50" >ثبت نام در سامانه</h1>
                        <form action="">
                            <div class="row justify-content-center">
                                <div class="col-8" >
                                    <div class="form-group">
                                        <input id="usernameSignUp"
                                               type="text" required
                                               placeholder="نام کاربری"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input id="emailSignUp"
                                               type="text" required
                                               placeholder="ایمیل"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input id="passwordSignUp"
                                               type="password" required minlength="8"
                                               placeholder="کلمه عبور"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input id="confirm"
                                               type="password" required minlength="8"
                                               placeholder="تکرار کلمه عبور"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input id="typeSignUp"
                                               type="text"
                                               placeholder="type:"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input id="answerSignUp"
                                               type="text"
                                               placeholder="answer:"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input id="bio"
                                               type="text"
                                               placeholder="bio:"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <p class="text-center m-0 m-t-40">
                                <button  id = "signUp_BTN"  type="button" class="btn btn-outline-success" >
                                    ساخت حساب کاربری
                                </button>
                            </p>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="">قبلا ثبت نام کرده اید؟</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'assets/js/lib/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/popper.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/bootstrap.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/helper.js' %}" ></script>

 <script>
        window.onload = function () {
            {#alert("ok");#}
            var signUp_BTN = document.getElementById("signUp_BTN");
            signUp_BTN.onclick = function () {
                var XML = new XMLHttpRequest();
                XML.onreadystatechange = function () {
                    if(this.readyState == 4 && this.status == 200 ){
                        var result = JSON.parse(this.responseText);
                        alert(result);
                    }
                };
                XML.open("POST","/api/users/create/",true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                var email = document.getElementById("emailSignUp").value;
                var username = document.getElementById("usernameSignUp").value;
                var password = document.getElementById("passwordSignUp").value;
                var repeatPass = document.getElementById("confirm").value;
                var type = document.getElementById("typeSignUp").value;
                var answer = document.getElementById("answerSignUp").value;
                var bio = document.getElementById("bio").value;
                var question_id = 1;

                if(password === repeatPass) {
                    var text = "email=" + email + "&username=" + username + "&password=" + password +  "&type=" + type
                        +"&question_id="+question_id+ "&answer=" + answer+"&bio="+bio;
                    XML.send(text);
                }else {
                    alert("confirm password does not match");
                }
            };
        };
    </script>

</body>




</html>