<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>twitter</title>
    <link rel="stylesheet" href="{% static 'assets/css/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="page-panel">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
        <p class="m-0 text-center w-100 text-white font-weight-bold f-s-20">
            twitter
        </p>
    </nav>
    <div class="container p-t-15 p-b-15">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" >
                    <hr class="m-0" >

                    <div class="card-body">
                        <ul class="m-0 f-s-15" >
                            <li><a class=" m-b-10 d-block" href="" id="home">خانه</a></li>
                            <li><a class="font-weight-bold m-b-10 d-block" href="">جستجو</a></li>
                            <li><a class=" m-b-10 d-block" href="">تغییر کلمه عبور</a></li>
                            <li><a class="" href="">خروج</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card m-b-15" >
                    <div class="card-body">
                        <div class="form-group m-0">
                            <div class="row row-4">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="متن..."  id="hash_tag">
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-outline-secondary w-100" type="button" id="search" >
                                        <i class="fa fa-search" ></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#" id="tweets">پیام ها</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="users">کاربران</a>
                            </li>
                        </ul>

                        <div class="card " style="margin-top: 10px" id="card"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'assets/js/lib/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/popper.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/bootstrap.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/helper.js' %}" ></script>

<script>
    window.onload = function () {

        var url = window.location.href.split("=");
        if(url[1] != null){

            alert(url[1].replace("/",""));
                 var XML = new XMLHttpRequest();
                XML.onreadystatechange = function () {
                    if (XML.status == 200 && XML.readyState == 4) {

                        result = JSON.parse(this.response);
                        console.log(result);
                        var card = document.getElementById("card");
                        while (card.firstChild) {
                            card.removeChild(card.firstChild);
                        }
                        posts = result["posts"];
                        for (var i in posts) {
                            post = posts[i];
                            console.log(post);
                            id = post["id"];
                            alert(id);
                            element_maker("", "div", "card", "card-body", "card-body" + id);
                            element_maker("", "div", "card-body" + id, "tweet", "tweet" + id);
                            element_maker("", "div", "tweet" + id, "clearfix", "clearfix" + id);
                            var user_page = element_maker("","a","clearfix"+id,"name float-right","username"+id);
                            user_page.user_id = post["user_id"];
                            user_page.onclick = get_user_page_info;
                            var user_username = post["user_username"];
                            element_maker(user_username,"span","username"+id,"username","");
                            var date = post["date"];
                            element_maker(date, "time", "clearfix" + id, "float-left", "");
                            var context = post["context"];
                            element_maker(context, "p", "tweet" + id, "text", "");
                            element_maker("","ul","tweet"+id,"clearfix m-0 p-0","commentUl"+id);
                            element_maker("","li","commentUl"+id,"float-left d-block","likeLi"+id);
                            var a = element_maker("","a","likeLi"+id,"","likelink"+id);
                            a.post_id = id;
                            a.onclick = likeFunction;
                            var likes_count = post["likes_count"];
                            element_maker(" "+likes_count+" ","span","likelink"+id,"","likeSpan"+id);
                            element_maker("","i","likelink"+id,"fa fa-heart","");
                            element_maker("", "hr", "card", "m-0", "");
                        }

                    }
                };

                XML.open("GET", "/api/posts/search_for_hash_tag/?hash_tag_id=" + url[1].replace("/",""), true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                XML.send();


        }

        var home = document.getElementById("home");
            home.onclick = function (e) {
                e.preventDefault();
                var XML = new XMLHttpRequest();
                XML.onreadystatechange = function () {
                    if(this.readyState == 4 && this.status == 200 ){
                        result = JSON.parse(this.response);
                        console.log(result);
                        window.location.replace("http://localhost:8000/users/"+result["id"]);
                    }
                };
                XML.open("GET","/api/users/get_logged_in_id/",true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                XML.send();
            };

        document.getElementById("users").onclick = function (ev) {
            ev.preventDefault();
            this.classList.add("active");
            var tweets = document.getElementById("tweets");
            tweets.classList.remove("active");

        };

        document.getElementById("tweets").onclick = function (ev) {
            ev.preventDefault();
            this.classList.add("active");
            var tweets = document.getElementById("users");
            tweets.classList.remove("active");
        };



        var search = document.getElementById("search");
        search.onclick = function () {
            var tweets = document.getElementById("tweets");
            if (tweets.classList.contains("active")) {
                var XML = new XMLHttpRequest();
                XML.onreadystatechange = function () {
                    if (XML.status == 200 && XML.readyState == 4) {

                        result = JSON.parse(this.response);
                        console.log(result);
                        var card = document.getElementById("card");
                        while (card.firstChild) {
                            card.removeChild(card.firstChild);
                        }
                        posts = result["posts"];
                        for (var i in posts) {
                            post = posts[i];
                            console.log(post);
                            id = post["id"];
                            alert(id);
                            element_maker("", "div", "card", "card-body", "card-body" + id);
                            element_maker("", "div", "card-body" + id, "tweet", "tweet" + id);
                            element_maker("", "div", "tweet" + id, "clearfix", "clearfix" + id);
                            var user_page = element_maker("","a","clearfix"+id,"name float-right","username"+id);
                            user_page.user_id = post["user_id"];
                            user_page.onclick = get_user_page_info;
                            var user_username = post["user_username"];
                            element_maker(user_username,"span","username"+id,"username","");
                            var date = post["date"];
                            element_maker(date, "time", "clearfix" + id, "float-left", "");
                            var context = post["context"];
                            element_maker(context, "p", "tweet" + id, "text", "");
                            element_maker("","ul","tweet"+id,"clearfix m-0 p-0","commentUl"+id);
                            element_maker("","li","commentUl"+id,"float-left d-block","likeLi"+id);
                            var a = element_maker("","a","likeLi"+id,"","likelink"+id);
                            a.post_id = id;
                            a.onclick = likeFunction;
                            var likes_count = post["likes_count"];
                            element_maker(" "+likes_count+" ","span","likelink"+id,"","likeSpan"+id);
                            element_maker("","i","likelink"+id,"fa fa-heart","");
                            element_maker("", "hr", "card", "m-0", "");
                        }

                    }
                };

                var hashtag = document.getElementById("hash_tag").value;
                XML.open("GET", "/api/posts/search_for_hash_tag/?hash_tag=" + hashtag, true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                XML.send();

            }else{
                var XML = new XMLHttpRequest();
                XML.onreadystatechange = function () {
                    if (XML.status == 200 && XML.readyState == 4) {
                        result = JSON.parse(this.response);
                        console.log(result);
                        var card = document.getElementById("card");
                        while (card.firstChild) {
                            card.removeChild(card.firstChild);
                        }
                        users = result["users"];
                        for (var i in users ) {
                            user = users[i];
                            id = user["id"];
                            alert(id);
                            element_maker("", "div", "card", "card-body", "card-body" + id);
                            element_maker("", "div", "card-body" + id, "tweet", "tweet" + id);
                            element_maker("", "div", "tweet" + id, "clearfix", "clearfix" + id);
                            var user_page = element_maker("","a","clearfix"+id,"name float-right","username"+id);
                            user_page.user_id = user["id"];
                            user_page.onclick = get_user_page_info;
                            var user_username = user["username"];
                            element_maker(user_username,"span","username"+id,"username","");

                        }

                    }
                };

                var hashtag = document.getElementById("hash_tag").value;
                XML.open("GET", "/api/users/search_username/?username=" + hashtag, true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                XML.send();

            }

        }

    };search

    function get_user_page_info(e) {
        e.preventDefault();
        window.location.replace("http://localhost:8000/users/"+this.user_id+"/info/");
    }


    function element_maker(text ,type ,id_parent,className , id) {
        var new_p = document.createElement(type);

        if(type == "a"){
            new_p.href = "";
        }
        if(id != "") {
            new_p.id = id;
        }
        if(text != ""){
            var textnode = document.createTextNode(text);
            new_p.appendChild(textnode);
        }
        if(className != "") {
            var classlistSplit = className.split(" ");
            for (var i in classlistSplit) {
                new_p.classList.add(classlistSplit[i]);
            }
        }
        document.getElementById(id_parent).appendChild(new_p);
        return new_p;
    }
    function  likeFunction(e) {
        e.preventDefault();
        var XML = new XMLHttpRequest();
        id = this.post_id;
        XML.onreadystatechange = function () {
            if(this.readyState == 4 && this.status == 201){
                var result = JSON.parse(this.response);
                console.log(result);
                var likeSpan = document.getElementById("likeSpan"+id);
                likeSpan.innerText = " " + result["post_likes_count"] + " ";

            }
        };
        XML.open("POST","/api/posts/like/",true);
        XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var text = "post_id=" +id;
        XML.send(text);
    }


</script>
</body>
</html>