<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>twitter</title>
    <link rel="stylesheet" href="{% static 'assets/css/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="page-panel">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">

        <p class="m-0 text-center w-100 text-white font-weight-bold f-s-20">
            twitter
            <i class="fa fa-twitter" style="font-size:30px;color:white"></i>
        </p>
        <button class="btn btn-outline-secondary btn-sm align-left" id="loginButton">ورود</button>
    </nav>
    <div class="container p-t-15 p-b-15">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" >
                    <div class="card-body text-center">
                        <a href="" id="usernameLink">
                            <h5 class="card-title" id="username"></h5>
                        </a>
                    </div>
                    <hr class="m-0" >
                    <div class="card-body">
                        <div class="row row-4">
                            <div class="col-6 m-b-5">
                                <a href="" class="w-100 float-right btn btn-success btn-sm"  id="following">
                                </a>
                            </div>
                            <div class="col-6 m-b-5">
                                <a href="" class="w-100 float-left btn btn-success btn-sm" id="follower">
                                </a>
                            </div>

                            <div class="col-6">
                                <a href="" class="w-100 float-left btn btn-success btn-sm" id="posts_count">
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0" >
                    <div class="card-body">
                        <ul class="m-0 f-s-15" >
                            <li><a class=" m-b-10 d-block" href="" id="search">جستجو</a></li>
                            <li><a class=" m-b-10 d-block" href="">تغییر کلمه عبور</a></li>
                            <li><a class="" href="" id="logout">خروج</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card m-b-15" >
                    <div class="card-body">
                        <div class="form-group">
                            <textarea id="context" class="form-control" rows="2" maxlength="10000"></textarea>
                        </div>
                        <div class="clearfix" >
                            <div class="float-right" >
                                <span class="text-muted f-s-12 m-t-5 d-block" >100 کاراکتر</span>
                            </div>
                            <div class="float-left" >
                                <button  id="sendBTN"   class="btn btn-outline-secondary btn-sm" >ارسال</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card"  id="card">
                </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'assets/js/lib/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/popper.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/lib/bootstrap.js' %}" ></script>
<script type="text/javascript" src="{% static 'assets/js/helper.js' %}" ></script>

<script>
        window.onload = function () {

                var search = document.getElementById("search");
            search.onclick = function (ev) {
                ev.preventDefault();
               window.location.replace("http://localhost:8000/users/search/");

            };

            var url = window.location.href.split("/");
            var sendBTN = document.getElementById("sendBTN");
            sendBTN.onclick = function () {
                var XML = new XMLHttpRequest();
                XML.onreadystatechange = function () {
                    if(this.readyState == 4 && this.status == 201 ){
                         result = JSON.parse(this.response);
                        window.location.replace("http://localhost:8000/users/"+url[url.length-2]+"/info/");
                    }
                };
                var context = document.getElementById("context").value;
                XML.open("POST","/api/posts/create/",true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                var text = "context=" + context ;
                XML.send(text);
            };

            var loginButton = document.getElementById("loginButton");
            loginButton.onclick = function () {
                  window.location.replace("http://localhost:8000/users/login/");
            };

            var logout = document.getElementById("logout");
            logout.onclick = function (e) {
                e.preventDefault();
                var XML = new XMLHttpRequest();
                XML.onreadystatechange = function () {
                    if(this.readyState == 4 && this.status == 201 ){
                        alert(JSON.parse(this.response))
                        window.location.replace("http://localhost:8000/users/login/");
                    }
                };
                XML.open("POST","/api/users/logout/",true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                XML.send();
            };


            var XML = new XMLHttpRequest();
            XML.onreadystatechange = function () {
                if(XML.status == 200 && XML.readyState == 4){
                    result = JSON.parse(this.response);
                    console.log(result);
                    var user_page_info = document.getElementById("usernameLink");
                    user_page_info.onclick = get_user_page_info;
                    user_page_info.user_id = result["user_home"]["user_id"];
                    var username = result["user_home"]["username"];
                    document.getElementById("username").innerText = username;
                    var following_count = result["user_home"]["followings_count"];
                    document.getElementById("following").innerText = following_count + " دنبال شونده ";
                    var follower_count = result["user_home"]["followers_count"];
                    document.getElementById("follower").innerText = follower_count + " دنبال کننده ";
                    var posts_count = result["user_home"]["posts_count"];
                    document.getElementById("posts_count").innerText = posts_count + " پست ";

                    posts = result['user_home']['posts'];
                    for(var i in posts) {
                        post = posts[i];
                        id = post["id"];
                        element_maker("","div","card","card-body","card-body"+id);
                        element_maker("","div","card-body"+id,"tweet","tweet"+id);
                        element_maker("","div","tweet"+id,"clearfix","clearfix"+id);
                        var user_page = element_maker("","a","clearfix"+id,"name float-right","username"+id);
                        user_page.user_id = post["user_id"];
                        user_page.onclick = get_user_page_info;
                        var user_username = post["user_username"];
                        element_maker(user_username,"span","username"+id,"username","");
                        var date = post["date"];
                        element_maker(date,"time","clearfix"+id,"float-left","");
                        var context = post["context"];
                        var hash_tags = post["hash_tags"];
                        element_maker("", "p", "tweet"+id,"text","").innerHTML = put_hashtags_to_post_html(context, hash_tags);
                        element_maker("","ul","tweet"+id,"clearfix m-0 p-0","commentUl"+id);
                        element_maker("","li","commentUl"+id,"float-left d-block m-r-15","commentLi"+id);
                        var comment_a = element_maker("","a","commentLi"+id,"","commentlink"+id,"");
                        comment_a.post_id = id;
                        comment_a.onclick = commentFunction;
                        var comments_count = post["comments_count"];
                        element_maker(" "+comments_count+" ","span","commentlink"+id,"","");
                        element_maker("","i","commentlink"+id,"fa fa-comments","");
                        element_maker("","li","commentUl"+id,"float-left d-block","likeLi"+id);
                        var a = element_maker("","a","likeLi"+id,"","likelink"+id);
                        a.post_id = id;
                        a.onclick = likeFunction;
                        var likes_count = post["likes_count"];
                        element_maker(" "+likes_count+" ","span","likelink"+id,"","likeSpan"+id);
                        if(post["has_current_user_liked"]==1) {
                            element_maker("", "i", "likelink" + id, "fa fa-heart", "likeI"+id);
                        }else {
                            element_maker("", "i", "likelink" + id, "fa fa-heart-o", "likeI"+id);
                        }
                        element_maker("","hr","card","m-0","");
                    }

                }
            };
            XML.open("GET","/api/users/last_posts_of_following_users/", true);
            XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            XML.send();
        };

        function put_hashtags_to_post_html(context, hash_tags) {
        var newContext = "" ;
        var srart_index = 0;
        var end_index;
        for(var i in hash_tags){
            var hash_tag = hash_tags[i]["hash_tag"];
            end_index = context.indexOf(hash_tag);
            newContext += context.substring(srart_index,end_index-1);
            newContext += '<a href="http://localhost:8000/users/search/?hash_tag=' + hash_tag.substring(1,hash_tag.length) + '/">' + hash_tag + '</a>';
            srart_index = end_index + hash_tag.length ;
        }
        return newContext;
        }


       function get_user_page_info(e) {
           e.preventDefault();
           window.location.replace("http://localhost:8000/users/"+this.user_id+"/info/");
       }

       function element_maker(text ,type ,id_parent,className , id) {
                var new_p = document.createElement(type);

                if(type == "a"){
                    new_p.href = "";
                }
                if(id != "") {
                    new_p.id = id;
                }
                if(text != ""){
                    var textnode = document.createTextNode(text);
                    new_p.appendChild(textnode);
                }
                if(className != "") {
                    var classlistSplit = className.split(" ");
                    for (var i in classlistSplit) {
                        new_p.classList.add(classlistSplit[i]);
                    }
                }
                document.getElementById(id_parent).appendChild(new_p);
                return new_p;
       }

       function  likeFunction(e) {
                e.preventDefault();
                var XML = new XMLHttpRequest();
                id = this.post_id;
                XML.onreadystatechange = function () {
                    if(this.readyState == 4 && this.status == 201){
                        var result = JSON.parse(this.response);
                        console.log(result);
                        var likeSpan = document.getElementById("likeSpan"+id);
                        likeSpan.innerText = " " + result["post_likes_count"] + " ";
                        if(document.getElementById("likeI"+id).classList.contains("fa-heart-o")){
                            document.getElementById("likeI"+id).classList.remove("fa-heart-o");
                            document.getElementById("likeI"+id).classList.add("fa-heart");
                        }else{
                            document.getElementById("likeI"+id).classList.add("fa-heart-o");
                            document.getElementById("likeI"+id).classList.remove("fa-heart");

                        }
                    }
                };
                XML.open("POST","/api/posts/like/",true);
                XML.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                var text = "post_id=" +id;
                XML.send(text);
       }

       function  commentFunction(e) {
            e.preventDefault();
            window.location.replace("http://localhost:8000/posts/"+this.post_id);
       }


    </script>


</body>



</html>